@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');
body,html{margin:0;padding:0;}

body, html{
    overflow: hidden;
    background-color: #373645ff;
    width: 100%;
}

.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 100vh;
  width: 100%;
  /*margin-left: calc((3840px - 100%) / -2);*/
  position: relative;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
}

.section {
  /* Needed for children to be absolutely positioned relative to the parent. */

  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: auto;
  width: 100%;
  /* For text formatting. */
  align-items: center;
  justify-content: center;
    position:absolute;
  color: white;
}

img{
    width: 100%;
    height: auto;
}

#logo {
    width: 100%;
    top: 0%;
    left: 0%;
}
#sticks {
    width: 100%;
    top: 0%;
    left: 0%;
}
#main {
    width: 100%;
    top: 0%;
    left: 0%;
}
#blocks{
    width: 100%;
    top: 0%;
    left: 0%;
}
#blur{
    width: 250%;
    top: 0%;
    left: 0%;
}
#back1{
    width: 100%;
    top: 0%;
    left: 0%;
}
#back1 img{
    width: 100%;
    top: 0%;
    left: 0%;
}
#back2{
    width: 100%;
    top: 0%;
    left: 0%;
}
#back2 img{
    width: 100%;
    top: 0%;
    left: 0%;
}
#back3{
    width: 100%;
    top: 0%;
    left: 0%;
}
#back3 img{
    width: 100%;
    top: 0%;
    left: 0%;
}
#back4{
    width: 100%;
    top: 0%;
    left: 0%;
}
#back4 img{
    width: 100%;
    top: 0%;
    left: 0%;
}
#twitter{
    left: 1250px;
    top: 6000px;
}
.button{
    left: 6200px;
}
.button h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 4em;
    width: 100%;
    text-align: left;
    position: absolute;
    color: #373645ff;
    font-weight: 800;
    background-color: white;
    padding: 20px;
    z-index: 4;
    border-radius: 10px;
}
#button1{
    top: 6150px;
}
#button2{
    top: 5150px;
}
#button3{
    top: 4150px;
}
#text1{
    top: 2500px;
    left: 0px;
}
#text1 h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 6em;
    width: 100%;
    text-align: center;
    margin-left: 570px
}
.static {
  background: white;
}
#fixedWrapper{
    display: block;
    position: fixed;
}
#logoFixed{
    left: 45%;
    top: 0px;
    width: 10%;
    position: fixed;
}
#logoFixed img{
    margin-top: 10px;
}